@media only screen and (max-width: 639px){

    .header__menu__nav__ul {
        /* display: flex;
        align-items: start; */
    }

    .logo {
        color: black;
        margin: -15px 0 0 110px;
    }

    .menu__nav__right {

    }

    .header__menu__nav__ul {
        display: flex;
        align-items: ;
        text-align: center;
        display: none;
    }
    
    .header__menu__nav__li a{
        padding-right: 20px;
        text-decoration: none;
        color: black;
        font-size: 15px;
        
    }
    
    .apple__button {
        background-color: black;
        width: 170px;
        height: 45px;
        color: white;
        border-radius: 5px;
        padding: 22px 50px 0px 50px;
        border: solid black;
        margin: 0 10px 0 10px;
        text-decoration: none;
        display: none;
    }
    
    .android__button {
        background-color: black;
        width: 170px;
        height: 45px;
        color: white;
        border-radius: 5px;
        padding: 22px 50px 0px 50px;
        border: solid black;
        display: none;
    }

    .menu__mobile__container {
        display: block;
        background-color: #ffa9b5;
    }



















}

