@media only screen and (max-width: 500px) {

  /* DEFINE VARIABLES*/
  
  :root {
    --main__background__colour:  #f6cdcc;
    --main__text__colour: #000;
    --main__line__height: 1.3;
  }
  

body {
  color: var(--main__text__colour);
  line-height: var(--main__line__height);
}



  /* MOBILE WIDTH SIZE */

  section {
    max-width: 500px;
    margin: 0 auto;
}

  .menu__mobile__container {
    display: block;
    background-color: ;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
  }


  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .logo {
    color: black;
    margin: 0;
    display: none;
  }

 .logo__mobile {
    display: block;
    color: var(--main__text__colour);
  } 

  .menu__mobile__cart__number {
    padding: 5px;
    background-color: #f6cdcc;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 11px;
    margin-left: 10px;
  }

  .menu__mobile__cart__icon {
  }

  .logo__mobile__size {
    width: 100px;
    padding-top: 25px;
  }

  .open {
    color: black;
  }

  .hr {
    border-top: 3px solid black;
    margin-top: 20px;
  }

  .mobile__hero__img {
    width: 150px;
  }

  .mobile__hero__flex {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

  .menu__nav__right {
  }

  .header__menu__nav__ul {
    display: flex;
    text-align: center;
    display: none;
  }

  .header__menu__nav__li a {
    padding-right: 20px;
    text-decoration: none;
    color: var(--main__text__colour);
    font-size: 15px;
  }

  .header__container {
    height: 0;
  }

  .mobile__hero__p {
    font-size: 17px;
    text-align: center;
    line-height: 1.3;
    color: var(--main__text__colour);
  }

  /* COMMUNITY REVIEW */

  .community__review__container {
    
  }
  .community__review__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 30px;
    margin-top: 100px;
    color: var(--main__text__colour);
  }

  .items__img {
    width: 290px;
  }

  .items__grid {
    display: flex;
    flex-direction: column;
  }

  .items__block__1 {
    display: flex;
    justify-content: center;
}

  .items__a {
    text-decoration: none;
    color: var(--main__text__colour);
    font-size: 15px;
    
  }


  .items__h3 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
  }

  .items__p {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: var(--main__text__colour);
  }

  .items__p__2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 12px;
  }

  /* DOWNLOAD */

  .download__container {
    
    
  }

  .download__peanut__icon {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 60px;
  }

  .download__peanut__icon__size {

  }

  .download__colour {
    background-color: var(--main__background__colour);
    

  }

  .logo__mobile__footer {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  } 

  .logo__mobile__size {
    text-align: center;
    padding-top: 25px;
  }

  .footer__h2 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    margin: 30px;
    font-style: italic;
  }

  .download__p {
    margin: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
  }

  .footer__buttons {
    text-align: center;
    
  }

  .hero__apple__button__white {
    background-color: #000;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0 50px;
    border: solid #000;
    margin: 22px 13px 0 0;
    text-decoration: none;
  }

  .hero__android__button__white {
    background-color: #000;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0 50px;
    border: solid #000;
  }

 



  /* FOOTER LINKS */

  .footer__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .footer__icon__space {
    padding-left: 20px;
  }

  .footer__icon__space.no__padding {
    padding-left: 0;
  }

  .footer__colour {
    background-color: #000;
  }

  .footer__container {
    background-color: #000;
    padding: 20px;
  }

  .footer__links {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    text-align: center;
    line-height: 2.3;
  }

  .footer__links__space {
    padding-left: 0;
    text-decoration: none;
    color: white;
    padding-top: 10px;
  }

  .footer__links__space.no__space {
    padding-left: 0;
    line-height: 1.3;
  }

  .footer__links__space a {
    padding-left: 0;
    text-decoration: none;
    color: white;
  }
}
