@media only screen and (max-width: 500px) {
  
  /* MOBILE WIDTH SIZE */

  section {
    max-width: 500px;
    margin: 0 auto;
}

  .menu__mobile__container {
    display: block;
    background-color: ;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
  }


  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .logo {
    color: #000;
    margin: 0;
    display: none;
  }

  .logo__mobile {
    display: block;
    color: #000;
  }

  .menu__mobile__cart__number {
    padding: 5px;
    background-color: #f6cdcc;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 11px;
    margin-left: 10px;
  }

  .menu__mobile__cart__icon {
  }

  .logo__mobile__size {
    width: 100px;
    padding-top: 25px;
  }

  .open {
    color: black;
  }

  .hr {
    border-top: 3px black solid;
    margin-top: 20px;
  }

  .mobile__hero__img {
    width: 150px;
  }

  .mobile__hero__flex {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

  .menu__nav__right {
  }

  .header__menu__nav__ul {
    display: flex;
    text-align: center;
    display: none;
  }

  .header__menu__nav__li a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

  .header__container {
    height: 0;
  }

  .mobile__hero__p {
    font-size: 17px;
    text-align: center;
    line-height: 1.3;
  }

  /* COMMUNITY REVIEW */

  .community__review__container {
    border: 1px red solid;
  }
  .community__review__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 30px;
    margin-top: 100px;
  }

  .items__img {
    width: 290px;
  }

  .items__grid {
    display: flex;
    flex-direction: column;
  }

  .items__block__1 {
    display: flex;
    justify-content: center;
}


  }



  .items__a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    
  }


  .items__h3 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
  }

  .items__p {
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }

  .items__p__2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 12px;
  }

  /* FOOTER */

  .footer__colour {
    background-color: #000;
  }

  .footer__container {
    background-color: #000;
    padding: 20px;
  }

  .footer__h2 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 50px;
  }

  .footer__buttons {
    text-align: center;
    margin-bottom: 50px;
  }

  .hero__apple__button__white {
    background-color: #fff;
    width: 170px;
    height: 45px;
    color: black;
    border-radius: 5px;
    padding: 22px 50px 0 50px;
    border: solid #fff;
    margin: 22px 13px 0 0;
    text-decoration: none;
  }

  .hero__android__button__white {
    background-color: #fff;
    width: 170px;
    height: 45px;
    color: black;
    border-radius: 5px;
    padding: 22px 50px 0 50px;
    border: solid #fff;
  }

  .footer__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .footer__icon__space {
    padding-left: 20px;
  }

  .footer__icon__space.no__padding {
    padding-left: 0;
  }

  /* FOOTER LINKS */

  .footer__links {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    text-align: center;
    line-height: 2.3;
  }

  .footer__links__space {
    padding-left: 0;
    text-decoration: none;
    color: white;
    padding-top: 10px;
  }

  .footer__links__space.no__space {
    padding-left: 0;
    line-height: 1.3;
  }

  .footer__links__space a {
    padding-left: 0;
    text-decoration: none;
    color: white;
  }
}
