
body{
    font-family: 'Montserrat', sans-serif;
}

section {
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */

.header__colour {
    background-color: #ffa9b5;
}

.header__container {
    height: 110px;

}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.menu__mobile__container {
    display: none;
}

.header__logo__flex__1 {

}

.header__logo__flex {
    display: flex;
}

.logo {
    color: black;
}

.menu__nav__right {

}

.header__menu__nav__ul {
    display: flex;
    align-items: center;
}

.header__menu__nav__li a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.apple__button {
    background-color: black;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid black;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.android__button {
    background-color: black;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid black;

}

/* HERO */

.hero__container {
  
    height: 670px;
    padding-top: 100px;
}

.hero__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero__h1 {
    font-size: 78px;
    font-weight: bold;
    letter-spacing: -2.8px;
    line-height: 0.96;
    margin: 
}

.span__hero__h1 {
    color: white;
}

.hero__p {
    padding: 25px 0 25px 0;
    font-size: 22px;
    line-height: 1.36;
}

.hero__apple__button {
    background-color: #fe5055;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fe5055;
    margin: 0 20px 0 0px;
    text-decoration: none;
}

.hero__android__button {
    background-color: #fe5055;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fe5055;

}

.right__images {
    display: flex;
    align-items: center;

}



.hero__block__mockup {
    width: 227px;
    height: 465px;
    background-image:url('https://www.peanut-app.io/images/home/hero-android.png');
    background-size: cover;
    margin-left: -100px;
    
}

.hero__block__mockup__2 {
    width: 260px;
    height: 532px;
    box-sizing: border-box;
    background-image:url('https://www.peanut-app.io/images/home/hero-android.png');
    background-size: cover;
    z-index: 2;
}


.hero__video {
    box-sizing: border-box;
    width: 99.5%;
    height: 77.6%;
    margin-top: 55px;
}

.hero__free__h2 {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-left: -90px;

}

/* COMMUNITY REVIEW */

.community__review__container {
    
    margin-top: 50px;
}

.community__review__grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 7em; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.community__review__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    white-space: pre;
    margin-bottom: 30px;
}

.community__review__anime {
    display: inline-block;
    width: 60px;
    height: 38px;
    vertical-align: middle;
    margin-left: 12px;
    background-image: url(https://www.peanut-app.io/assets/animations/small_grey-39796c614dc389db4433b09622d070e7df00252a84d66e46c0edb5835b81c1ee.gif);
    background-size: cover;
}

.block__1 {
    
    max-width: 293px;
}

.community__review__p {
    background-color: #fe5055;
    padding: 2px;
    width: 81px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 100px;
    position: relative;
    top: 8px;
    
}

.community__review__image {
    height: 220px;
}

.community__review__image__2 {
display: flex;
filter: blur(2px);
width: 40px;
border-radius: 50%;
margin: 10px 0 10px 120px;
}

.pin {
    color: #87949d;
    margin-right: 5px;
}

.pin__p {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.community__review__h3__2 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 17px 0px;
}

.community__review__p__2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
}

.community__review__p__2 a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #fe5055;
    
}

.heart__speech__p {
    display: flex;
    justify-content: center;
    
}

.carousel__indicators {
    display: flex;
    justify-content: center;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #dbdbdb;
    border-radius: 50%;
    display: inline-block;
    margin: 50px 10px 50px 10px;

}


/* CLIENT LOGO */

.client__logos__container {
    margin-bottom: 80px;
}

.client__logos__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.client__logo__image__size {
    height: 30px;
}

/* VIDEO HOW TO ADD A PICTURE FRAME ON VIDEO */

.video__1 {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.video__mobile {
    display: none;
}


/* DISCOVER CHAT COMMUNITY GROUPS */

.discover__chat__community__groups__container {
   
}

/* HOW DO YOU CENTER CSS GRIDS? */
.discover__chat__community__groups__grids {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.discover__chat__community__groups__width {
    
    max-width: 450px;
    margin-bottom: 100px;
}

.discover__chat__community__groups__h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.discover__chat__community__groups__p {
    font-size: 23px;
    margin: 10px 0 23px;
    text-align: center;
}

.discover__chat__community__groups__image {
    margin-top: 60px;
    width: 100%;
}

/* FEATURED BY APPLE */

.featured__by__apple__container {
 
}

.featured__by__apple__flex {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.featured__by__apple__img {
    width: 50%;
}

/* TESTIMONIALS */

.testimonials__container {
    background-color: #f6cdcc;
}

.testimonials__flex {
    display: flex;
    justify-content: center;
    padding: 80px 0 80px 0;
}

.testimonials__p {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 1010px;
    line-height: 1.1;
}

.testimonials__name {
    font-size: 32px; 
    font-weight: 300;
}

.carousel__indicators__2 {
    display: flex;
    justify-content: center;
    
}

.dot__2 {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 50px 10px 50px 10px;

}

/* TESTIMONIAL 2 */

.testimonial__2__container {
    background-color: #ffa9b5;
    padding-top: 100px;

}

.testimonial__grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.testimonial__p__parent {
    padding: 20px 0 0 0;
    text-align: center;
    max-width: 328px;
}

.testimonial__p__text {
    font-weight: bold;
    font-size: 32px;
}

.testimonial__logo {
    width: 60%;
    margin: 30px;
}

/* FOOTER */

.footer__colour {
    background-color: #000;
}

.footer__container {
    background-color: #000;
    padding: 20px;
}

.footer__h2 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 50px;
}

.footer__buttons {
    text-align: center;
    margin-bottom: 80px;
}

.hero__apple__button__white {
    background-color: #fff;
    width: 170px;
    height: 45px;
    color: black;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fff;
    margin: 0 20px 0 0px;
    text-decoration: none;
}

.hero__android__button__white {
    background-color: #fff;
    width: 170px;
    height: 45px;
    color: black;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fff;

}

.footer__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer__icon__space {
    padding-left: 20px;
}

.footer__icon__space.no__padding {
    padding-left: 0;
}

/* FOOTER LINKS */

.footer__links {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.footer__links__space  {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    
}

.footer__links__space.no__space {
    padding-left: 0;
}

.footer__links__space a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    
}