
body{
    font-family: 'Montserrat', sans-serif;
}

section {
    max-width: 1500px;
    margin: 0 auto;
}

/* HEADER */

.header__colour {
    background-color: #ffa9b5;
}

.header__container {
    height: 110px;

}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.header__logo__flex__1 {

}

.header__logo__flex {
    display: flex;
}

.logo {
    color: black;
}

.menu__nav__right {

}

.header__menu__nav__ul {
    display: flex;
    align-items: center;
}

.header__menu__nav__li a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.apple__button {
    background-color: black;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid black;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.android__button {
    background-color: black;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid black;

}

.hero__container {
    border: 1px solid red;
    height: 770px;
}

.hero__flex {
    display: flex;
}

.hero__h1 {
    font-size: 78px;
    font-weight: bold;
    letter-spacing: -2.8px;
    line-height: 0.96;
    margin: 
}

.span__hero__h1 {
    color: white;
}

.hero__p {
    padding: 25px 0 25px 0;
    font-size: 22px;
    line-height: 1.36;
}



.hero__apple__button {
    background-color: #fe5055;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fe5055;
    margin: 0 20px 0 0px;
    text-decoration: none;
}

.hero__android__button {
    background-color: #fe5055;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    padding: 22px 50px 0px 50px;
    border: solid #fe5055;

}

.hero__block__mockup {
    width: 227px;
    height: 465px;
    background-image:url('https://www.peanut-app.io/images/home/hero-android.png');
    background-size: cover;

}


.hero__video {
    box-sizing: border-box;
    width: 96.5%;
    height: 77.6%;
    
}

.hero__image__2 {
    box-sizing: border-box;
    background-image:url('https://www.peanut-app.io/images/home/hero-android.png');
    background-size: cover;
}

.hero__block__mockup__2 {
    width: 260px;
    height: 532px;
    box-sizing: border-box;
  
    
}



